p{
    background-color: rgb(235, 235, 229);
    color: black;
    font-family:Helvetica ;
    font-size: 111%;
    border: 2px slategray;

}
h1{
background-color: rgb(55, 180, 180);
color:black;

}